.search-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
	position: sticky;
}

.search {
	display: flex;
	flex-direction: row;
	padding: 12px 25px;
	border-radius: 999px;
	color: lightgray;
        border-color:none;
}

.background {
        
}