@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+Caucasian+Albanian&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "rubik";
}

body {
	background: url(../assets/background.png);
	z-index: -2;
}

.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position:static ;
	top: 0;
	z-index: 1;
	padding: 10px;
}

.search {
	display: flex;
	flex-direction: row;
	align-items: start;
	padding: 12px 25px;
	border-radius: 999px;
	color: black;
	border: none;
	outline: none;
	text-align: center;
}

.search-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.search-logo svg {
	position: absolute;
	left: 14px;
	pointer-events: none;
}

.background {
	padding: 75px;
	background: url(../assets/background-cloud.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
}

.background2 {
	padding: 12px;
	background: url(../assets/background-dirt.png);
	top: 150px;
	height: 225px;
	z-index: -1;
}
