* {
	margin: 0;
	padding: 0;
}

/* body{ 
        background:url(../assets/background.png);
        z-index: -2;
} */

.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
}

.search {
	display: flex;
	flex-direction: row;
	align-items: start;
	padding: 12px 25px 12px 40px;
	border-radius: 999px;
	color: lightgray;
	border: none;
	outline: none;
	text-align: center;
}

.search-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.search-logo svg {
	position: absolute;
	left: 14px;
	pointer-events: none;
}

.background {
	padding: 12px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.background2 {
	padding: 12px;
	background-image: url(../assets/background-cloud.png);
	background-size: cover;
	background-position: center;
	background-repeat: repeat-y;
}
